
.comments-title + p {
    color: #888;
}

.commenting-as {
    line-height: 1.2em;
    margin-bottom: 5px;

    span {
        color: $estLanGreenLight;
        font-weight: bold;
    }
}

.comments-textarea {
    @include border-radius(4px);
    border: 2px solid #999999;

    resize: none;
    margin-bottom: 8px;
    min-height: 60px;
    width: 100%;
    padding: 16px 8px;


    &.prefilled {
        height: 40px;
    }
}

.comments-actions {
    margin-bottom: 25px;
}

.comment-area {
    border-top: 2px solid #268abc;
    margin-top: 15px;
    padding-top: 15px;

    .comment {
        @include pie-clearfix;
        margin-bottom: 15px;

        .comment-left {
            float: left;
            width: 80px;

            img {
                height: auto;
                width: 70px;
            }
        }
        .comment-right {
            padding-left: 80px;

            .comment-about {
                border-bottom: 2px solid #999999;
                padding-bottom: 2px;

                > * {
                    font-size: 0.99em;
                    line-height: 1.1em;
                }

                .comment-user {
                    color: $estLanGreenLight;
                    font-weight: bold;
                }
                .comment-timeago {
                    color: #666;
                }
            }

            .comment-text {
                padding-top: 3px;
            }
        }
    }

}
