
body {
    background-image: image-url("wild_oliva.png");
    background-position: center center;
    background-repeat: repeat;
}

.lightbox {
    $experimental-support-for-svg: true;
    @include background(
        radial-gradient(center center, cover, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8))
    );

    position: fixed;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    z-index: $zIndexLightBox;
}

.estlan-container {
    margin-top: $contentMargin;
    max-width: 980px;
    z-index: $zIndexContent;
}

