
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

$fontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackHeading: 'Roboto Condensed', $fontStack;

.tagline {
    color: #E9E9E9;
    font-size: 28px;
    font-family: $fontStackHeading;
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-weight: Bold;
    font-family: $fontStackHeading;
    font-size: 2em;
    line-height: 1.1em;
}

h2 {
    font-weight: Bold;
    font-family: $fontStackHeading;
    font-size: 1.7em;
    line-height: 1.1em;
}
