{% load i18n %}


<div class="article_area">

    {% for article in articles %}
        <div class="article">
            <div class="article-title">
                <h1>{{ article.title }}</h1>

                <span>{{ article.publish_date|date:"DATETIME_FORMAT" }}</span>
            </div>

            {% if article.cover_image %}
                <img src="{{ article.cover_image.url }}" alt="{{ article.title }}" />
            {% endif %}


            {{ article.short_text|safe }}

            <a href="{% url 'article_slug' article_slug=article.slug %}" class="btn btn-green" >{% trans "Read More" %}</a>
            <a href="{% url 'article_slug' article_slug=article.slug %}#comments" class="btn btn-link">{% trans "Comments" %}</a>

        </div>

    {% empty %}
        {% include "Hulkify/blocks/no_news.html" %}
    {% endfor %}

    {% if articles %}

        {% if articles.has_previous and articles.has_next %}
            <button href="?page={{ articles.previous_page_number }}" class="btn btn-green btn-green-no-right no-margin-right">{% trans "Back" %}</button>
            <button href="?page={{ articles.next_page_number }}" class="btn btn-green btn-green-no-left no-margin-left">{% trans "Next" %}</button>
        {% elif articles.has_previous %}
            <button href="?page={{ articles.previous_page_number }}" class="btn btn-green">{% trans "Back" %}</button>
        {% elif articles.has_next %}
            <button href="?page={{ articles.next_page_number }}" class="btn btn-green">{% trans "Next" %}</button>
        {% endif %}

    {% endif %}

</div>

