{% load i18n %}


<div class="article">
    <div class="article-title">
        {% if preview %}
            {% if article.slug %}
                <a href="{% url 'article_slug' article_slug=article.slug %}" class="title-heading">{{ article.title }}</a>
            {% else %}
                <a href="{% url 'article' article_id=article.id %}" class="title-heading">{{ article.title }}</a>
            {% endif %}
        {% else %}
            <h1>{{ article.title }}</h1>
        {% endif %}

        <div>
            {% with article.get_categories as categories %}
                {% with article.author.get_name as author %}
                    {% with article.publish_date|date:"SHORT_DATETIME_FORMAT" as timestamp %}
                        {% blocktrans %}Posted on {{ timestamp }}{% endblocktrans %}
                        {% if categories %}
                            {% trans 'in' %}
                            {% for category in categories %}
                                <a href="{% url 'category' category_slug=category.slug %}">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endif %}
                        {% blocktrans %}
                            by {{ author }}
                        {% endblocktrans %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        </div>
    </div>

    {% if article.cover_image %}
        <img src="{{ article.cover_image.url }}" alt="{{ article.title }}" />
    {% endif %}

    {% if preview %}
        {{ article.short_text|safe }}

        {% if article.slug %}
            <a href="{% url 'article_slug' article_slug=article.slug %}" class="btn btn-green" >{% trans "Read More" %}</a>
            <a href="{% url 'article_slug' article_slug=article.slug %}#comments" class="btn btn-link">{% trans "Comments" %} ({{ article.comment_count }})</a>
        {% else %}
            <a href="{% url 'article' article_id=article.id %}" class="btn btn-green" >{% trans "Read More" %}</a>
            <a href="{% url 'article' article_id=article.id %}#comments" class="btn btn-link">{% trans "Comments" %} ({{ article.comment_count }})</a>
        {% endif %}
    {% else %}
        {{ article.content|safe }}

        <h2 class="comments-title" id="comments">{% trans "Comments" %}</h2>
        {% if comment_desc %}
            {{ comment_desc.content }}
        {% else %}
            <p>
                {% blocktrans %}
                    Feel free to post your thoughts on this article, use only English, don't go offtopic and read FAQ
                    before asking a question. Owners of this website aren't responsible for content of comments.
                {% endblocktrans %}
            </p>
        {% endif %}

        {% if request.user.is_authenticated %}
            <div class="align-right commenting-as">
                {% trans "Commenting as: " %}<span>{{ request.user.get_name }}</span>
            </div>
            <div contenteditable="true" class="comments-textarea prefilled" id="comment-editor">
                <em>{% trans "Click to comment" %}</em>
            </div>

            <div class="align-right">
                <a href="" class="btn btn-green" >{% trans "Comment" %}</a>
            </div>

        {% else %}
            <div class="comments-actions">
                <h3>Log in with</h3>
                <div>
                    <a href="{% url 'social:begin' "facebook" %}?next={{ request.path }}" class="btn btn-green btn-green-no-right no-margin-right" >Facebook</a>
                    <a href="{% url 'social:begin' "google-oauth2" %}?next={{ request.path }}" class="btn btn-green btn-green-no-left no-margin-left" >Google+</a>
                </div>
            </div>
        {% endif %}

        {% if comments %}
            <div class="comment-area">
                {% for comment in comments %}
                    {% include 'Hulkify/blocks/comment.html' %}
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}
</div>