{% load i18n %}


<div class="article_area">

    {% for article in articles %}
        <div class="article">
            <div class="article-title">
                <h1>{{ article.title }}</h1>

                <span>{{ article.publish_date|date:"DATETIME_FORMAT" }}</span>
            </div>

            <p>{{ article.short_text }}</p>

            <button class="btn btn-green">{% trans "Read More" %}</button>
            <a class="btn btn-link">{% trans "Comments" %}</a>

        </div>

    {% empty %}
        {% include "Hulkify/blocks/no_news.html" %}
    {% endfor %}

</div>

