{% load i18n %}


<div class="article_area">

    {% for article in articles %}
       {% include "Hulkify/blocks/article.html" with preview=1 %}
    {% empty %}
        {% include "Hulkify/blocks/no_news.html" %}
    {% endfor %}

    {% if articles %}

        {% if articles.has_previous and articles.has_next %}
            <a href="?page={{ articles.previous_page_number }}" class="btn btn-green btn-green-no-right no-margin-right">{% trans "Back" %}</a>
            <a href="?page={{ articles.next_page_number }}" class="btn btn-green btn-green-no-left no-margin-left">{% trans "Next" %}</a>
        {% elif articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}" class="btn btn-green">{% trans "Back" %}</a>
        {% elif articles.has_next %}
            <a href="?page={{ articles.next_page_number }}" class="btn btn-green">{% trans "Next" %}</a>
        {% endif %}

    {% endif %}

</div>

