{% load staticfiles %}


<div class="comment">
    <div class="comment-left">
        {% if comment.user.get_avatar %}
            <img src="{{ comment.user.get_avatar }}" class="avatar">
        {% else %}
            <img src="{% static 'Hulkify/images/no_avatar.png' %}" class="avatar">
        {% endif %}
    </div>

    <div class="comment-right">
        <div class="comment-about">
            <span class="comment-user">{{ comment.user.get_name }}</span>
            <span class="comment-timeago timeago" title="{{ comment.timestamp }}">{{ comment.timestamp }}</span>
        </div>
        <div class="comment-text">
            {{ comment.comment|safe }}
        </div>
    </div>
</div>
