
<div class="hero_base">
    <div class="hero_top"><div class="hero_corner_top_right"></div><div class="hero_corner_top_right2"> </div></div>

    <div class="hero">
        <div class="container">
           <img src="{{ MEDIA_URL }}Hulkify/images/default_article.png" width="100%"/>

            <div class="hero-control">
                <button class="btn btn-diagonal slide_l_or_r btn-primary"><span class="icon-prev"></span></button>
                <button class="btn btn-diagonal slide_l_or_r btn-primary"><span class="icon-next"></span></button>
            </div>
        </div>
    </div>

    <div class="hero_bottom"><div class="hero_corner_bottom_left"></div><div class="hero_corner_bottom_left2"> </div></div>
</div>