{% load thumbnail %}


{% if featured_posts %}
    <div class="hero_base">
        <div class="hero_top"><div class="hero_corner_top_right"></div><div class="hero_corner_top_right2"> </div></div>

        <div class="hero">
            <div class="container carousel slide" id="hero-carousel" data-ride="carousel">

                <div class="carousel-inner">
                    {% for hero_article in featured_posts %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <img src="{% thumbnail hero_article.cover_image 966x506 autocrop crop upscale %}" />

                            {# TODO: Replace this with permalink to model :) #}
                            <a class="carousel-caption" href="{% if hero_article.slug %}{% url 'article_slug' article_slug=hero_article.slug %}{% else %}{% url 'article' article_id=hero_article.id %}{% endif %}">
                                <h3>{{ hero_article.title }}</h3>
                                <p>{{ hero_article.short_text|truncatechars:200|safe }}</p>
                            </a>
                        </div>
                    {% endfor %}

                </div>


                <div class="hero-control">
                    <button class="btn btn-diagonal slide_l_or_r btn-primary" data-target="#hero-carousel" data-slide="prev"><span class="icon-prev"></span></button>
                    <button class="btn btn-diagonal slide_l_or_r btn-primary" data-target="#hero-carousel" data-slide="next"><span class="icon-next"></span></button>
                </div>
            </div>
        </div>

        <div class="hero_bottom"><div class="hero_corner_bottom_left"></div><div class="hero_corner_bottom_left2"> </div></div>
    </div>
{% endif %}
