{% extends "Hulkify/root.html" %}
{% load i18n %}


{% block html_body %}

    <div class="lightbox"></div>
    <div id="wrap">
        {% block navbar_base %}
            {% include "Hulkify/blocks/header.html" %}
        {% endblock %}

        <div class="container estlan-container">
            {% block tagline_base %}
                {% include "Hulkify/blocks/tagline.html" %}
            {% endblock %}

            {% if show_hero_unit %}
                {% block hero-unit_base %}
                    {% include "Hulkify/blocks/hero-unit.html" %}
                {% endblock %}
            {% endif %}

            {% block main_content_base %}
                <div class="row content_area">

                    <div class="col-xs-12 col-sm-8 main_content">
                        <div class="diag-top"><div class="diag_helper"></div></div>

                        {% block article_area %}
                            {% include "Hulkify/blocks/article_area.html" with articles=articles %}
                        {% endblock %}

                        <div class="diag-bottom"><div class="diag_helper"></div></div>
                    </div>

                    <div class="col-sm-4 hidden-xs sidebar">
                        {% block search_box %}
                            {% include "Hulkify/blocks/search_box.html" %}
                        {% endblock %}

                        {% block login %}
                            {% if request.user.is_authenticated %}
                                <h4>{% trans "Hey, " %}{{ request.user.get_name }}</h4>
                                <ul class="nav nav-pills nav-stacked">
                                    {% if request.user.is_staff %}
                                        <li>
                                            <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
                                    </li>
                                </ul>
                            {% else %}
                                <h4>{% trans "Log in" %}</h4>
                                <div>
                                    <a href="{% url 'social:begin' "facebook" %}?next={{ request.path }}" class="btn btn-green btn-green-no-right no-margin-right" >Facebook</a>
                                    <a href="{% url 'social:begin' "google-oauth2" %}?next={{ request.path }}" class="btn btn-green btn-green-no-left no-margin-left" >Google+</a>
                                </div>
                            {% endif %}
                        {% endblock %}

                        {% block categories %}
                            <h4>{% trans "Categories" %}</h4>
                            {% include "Hulkify/blocks/categories.html" %}
                        {% endblock %}

                    </div>
                </div>

            {% endblock %}
        </div>
    </div>

    {% block footer_base %}
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-4">
                        <p class="text-muted credit">
                            EstLan 2013 - <a href="https://github.com/Jyrno42/EstLan-Web" target="_blank"><i class="icon-github-sign"></i></a>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <form action="/i18n/setlang/" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_path }}" />

                            {% get_available_languages as LANGUAGES %}
                            {% get_current_language as LANGUAGE_CODE %}

                            <select name="language" class="form-control input-sm" style="line-height: 40px; margin-top: 5px; width: 90px">
                                {% for language in LANGUAGES %}
                                    <option value="{{ language.0 }}"{% if language.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ language.1 }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
