{% extends "Hulkify/root.html" %}



{% block html_body %}

    <div class="lightbox"></div>

    {% block navbar_base %}
        {% include "Hulkify/blocks/header.html" %}
    {% endblock %}

    <div class="container estlan-container">

        {% block tagline_base %}
            {% include "Hulkify/blocks/tagline.html" %}
        {% endblock %}

        {% block hero-unit_base %}
            {% include "Hulkify/blocks/hero-unit.html" %}
        {% endblock %}

        {% block main_content_base %}
            {% include "Hulkify/blocks/content.html" %}
        {% endblock %}

    </div>

{% endblock %}