{% extends "html5.html" %}

{% load staticfiles %}


{% block base_css %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="{% static 'Hulkify/stylesheets/screen.css' %}" rel="stylesheet" media="screen">

    {% block extra_css %}{% endblock %}
{% endblock %}


{% block head_scripts %}
    <!--[if lt IE 9]>
        <script src="{% static 'bootstrap/js/html5shiv.js' %}"></script>
        <script src="{% static 'bootstrap/js/respond.js' %}"></script>
    <![endif]-->

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8ca1492b-54e0-4960-a180-827ee40c572e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    {% block extra_head_scripts %}{% endblock %}
{% endblock %}


{% block body_scripts %}
    <script src="//code.jquery.com/jquery.js"></script>

    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.timeago.js' %}"></script>

    <script src="{% static 'external_js/jquery.autosize.js' %}"></script>

    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>

    {% block extra_body_scripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('textarea.autosize').autosize().addClass('textarea-transition');
                $(".timeago").timeago();
            });
        </script>
    {% endblock %}
{% endblock %}

{% block html_body %}<h1>Hello, world!</h1>{% endblock %}
