@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/config/_fonts.scss */
.tagline {
  color: #E9E9E9;
  font-size: 28px;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

/* line 2, ../sass/config/_body.scss */
html, body {
  height: 100%;
}

/* line 6, ../sass/config/_body.scss */
body {
  background-image: url('/media/Hulkify/images/wild_oliva.png?1378335838');
  background-position: center center;
  background-repeat: repeat;
}

/* line 12, ../sass/config/_body.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -40px;
  padding: 0 0 40px;
}

/* line 20, ../sass/config/_body.scss */
#footer {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
/* line 27, ../sass/config/_body.scss */
#footer a {
  color: #eeeeee;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 30, ../sass/config/_body.scss */
#footer a i {
  font-size: 1em;
}
/* line 37, ../sass/config/_body.scss */
#footer a:hover {
  opacity: 0.8;
}

/* line 43, ../sass/config/_body.scss */
.lightbox {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuOCkiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-radial-gradient(center center, cover, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  background: -moz-radial-gradient(center center, cover, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  background: -o-radial-gradient(center center, cover, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  background: radial-gradient(center center, cover, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

/* line 59, ../sass/config/_body.scss */
.estlan-container {
  margin-top: 150px;
  max-width: 980px;
  z-index: 7;
}

/* line 2, ../sass/blocks/_heading.scss */
.estlan-navbar {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}
/* line 7, ../sass/blocks/_heading.scss */
.estlan-navbar .container {
  max-width: 900px;
}
@media (min-width: 768px) {
  /* line 7, ../sass/blocks/_heading.scss */
  .estlan-navbar .container {
    padding-right: 40px;
  }
}
/* line 15, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-brand.logo {
  background: url('/media/Hulkify/images/logo.png?1378324908');
  width: 146px;
  height: 89px;
  line-height: 89px;
  margin: 5px 15px 0 90px;
}
@media (max-width: 767px) {
  /* line 15, ../sass/blocks/_heading.scss */
  .estlan-navbar .navbar-brand.logo {
    margin-left: 10px;
  }
}
/* line 26, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 33, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li > a:hover, .estlan-navbar .navbar-nav > li > a.active {
  opacity: 1;
}
/* line 37, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li > a:after {
  content: "";
  position: absolute;
  background: #545454;
  width: 1px;
  right: 0px;
  top: 40px;
  bottom: 40px;
  z-index: 30;
}
/* line 49, ../sass/blocks/_heading.scss */
.estlan-navbar .nav.navbar-nav.pull-right {
  float: left !important;
}
/* line 54, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li:last-child > a:after {
  display: none;
}
@media (max-width: 767px) {
  /* line 60, ../sass/blocks/_heading.scss */
  .estlan-navbar .navbar-collapse {
    background-color: #eee;
  }
}

/* line 4, ../sass/blocks/_hero_unit.scss */
.hero_base {
  position: relative;
  margin-bottom: 40px;
}
/* line 19, ../sass/blocks/_hero_unit.scss */
.hero_base .hero_top {
  background: #d5d5d5;
  height: 25px;
  margin-right: 25px;
  top: 0;
  position: relative;
  z-index: 99;
}
/* line 27, ../sass/blocks/_hero_unit.scss */
.hero_base .hero_top .hero_corner_top_right {
  content: "";
  position: absolute;
  right: -25px;
  top: 0px;
  height: 25px;
  width: 25px;
  border-left: 25px solid #d5d5d5;
  border-top: 25px solid transparent;
}
/* line 39, ../sass/blocks/_hero_unit.scss */
.hero_base .hero_top .hero_corner_top_right2 {
  content: "";
  position: absolute;
  right: -5.17767px;
  top: 19.82233px;
  height: 25px;
  width: 25px;
  border-right: 25px solid #d5d5d5;
  border-bottom: 25px solid transparent;
}
/* line 52, ../sass/blocks/_hero_unit.scss */
.hero_base .hero_bottom {
  background: #d5d5d5;
  height: 25px;
  margin-left: 25px;
  bottom: 0;
  position: relative;
  z-index: 99;
}
/* line 60, ../sass/blocks/_hero_unit.scss */
.hero_base .hero_bottom .hero_corner_bottom_left {
  content: "";
  position: absolute;
  left: -25px;
  bottom: 0px;
  z-index: 99;
  height: 25px;
  width: 25px;
  border-right: 25px solid #d5d5d5;
  border-bottom: 25px solid transparent;
}
/* line 72, ../sass/blocks/_hero_unit.scss */
.hero_base .hero_bottom .hero_corner_bottom_left2 {
  content: "";
  position: absolute;
  left: -5.17767px;
  bottom: 19.82233px;
  height: 25px;
  width: 25px;
  border-left: 25px solid #d5d5d5;
  border-top: 25px solid transparent;
}
/* line 85, ../sass/blocks/_hero_unit.scss */
.hero_base .hero {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-left: 25px solid #d5d5d5;
  border-right: 25px solid #d5d5d5;
  position: relative;
  margin: 0;
  padding: 0;
}
/* line 96, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container {
  background: #000000;
  padding: 0;
  margin: 0;
}
/* line 101, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container .hero-control {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* line 106, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container .hero-control .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px none transparent;
  background: #1d3a12;
  font-weight: bold;
  position: relative;
  height: 48px;
  min-width: 71px;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 116, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container .hero-control .btn:hover {
  opacity: 1;
}
/* line 121, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container .hero-control .btn.slide_l_or_r {
  line-height: 30px;
}
/* line 123, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container .hero-control .btn.slide_l_or_r .icon-prev:before {
  content: '\2039';
  font-size: 30px;
}
/* line 127, ../sass/blocks/_hero_unit.scss */
.hero_base .hero .container .hero-control .btn.slide_l_or_r .icon-next:before {
  content: '\203a';
  font-size: 30px;
}
@media (min-width: 400px) {
  /* line 134, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero .container .hero-control .btn:first-child {
    text-indent: -20px;
  }
  /* line 43, ../sass/config/_variables.scss */
  .hero_base .hero .container .hero-control .btn:first-child:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    width: 20px;
    border-right: 20px solid #1d3a12;
    border-top: 20px solid transparent;
  }
  /* line 138, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero .container .hero-control .btn:last-child {
    text-indent: 20px;
    margin-right: 20px;
  }
  /* line 43, ../sass/config/_variables.scss */
  .hero_base .hero .container .hero-control .btn:last-child:before {
    content: "";
    position: absolute;
    right: -20px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    width: 20px;
    border-left: 20px solid #1d3a12;
    border-bottom: 20px solid transparent;
  }
}
@media (min-width: 768px) {
  /* line 96, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero .container {
    max-width: none;
  }
}
@media (max-width: 1200px) {
  /* line 154, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero_top {
    height: 10px;
    margin-right: 10px;
  }
  /* line 158, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero_top .hero_corner_top_right {
    right: -10px;
    height: 10px;
    width: 10px;
    border-left-width: 10px;
    border-top-width: 10px;
  }
  /* line 165, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero_top .hero_corner_top_right2 {
    right: -2.07107px;
    top: 7.92893px;
    height: 10px;
    width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    z-index: 999;
  }
  /* line 177, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero_bottom {
    height: 10px;
    margin-left: 10px;
  }
  /* line 181, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero_bottom .hero_corner_bottom_left {
    left: -10px;
    height: 10px;
    width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
  }
  /* line 189, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero_bottom .hero_corner_bottom_left2 {
    left: -2.07107px;
    bottom: 7.92893px;
    height: 10px;
    width: 10px;
    border-left-width: 10px;
    border-top-width: 10px;
  }
  /* line 199, ../sass/blocks/_hero_unit.scss */
  .hero_base .hero {
    border-left-width: 10px;
    border-right-width: 10px;
  }
}

/* line 206, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero {
  padding: 0;
  margin: 0;
}
/* line 209, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .container {
  padding: 0;
  margin: 0;
}

/* line 215, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero {
    /*@include border-radius(0px);

    min-height: 355px;
    position: relative;
    margin: 0 25px 40px;

    @include diagonal_corners(20px, $jumbotronBg);

    .hero-control {
        position: absolute;
        bottom: 20px;
        right: 0px;

        .btn {
            @include border-radius(0px);
            border: 0px none transparent;
            background: $heroBtnColor;
            font-weight: bold;
            position: relative;
            height: 48px;
            min-width: 71px;

            opacity: 0.8;
            &:hover {
                opacity: 1;
            }

            @include single-transition(opacity, .5s, ease);
            &.slide_l_or_r {
                line-height: 30px;
                .icon-prev:before {
                    content: '\2039';
                    font-size: 30px;
                }
                .icon-next:before {
                    content: '\203a';
                    font-size: 30px;
                }
            }

            @media (min-width: 400px) {
                &:first-child {
                    text-indent: -20px;
                    @include btn_corner(20px, $heroBtnColor);
                }
                &:last-child {
                    text-indent: 20px;
                    @include btn_corner(20px, $heroBtnColor, left, bottom, -1, right);
                    margin-right: 20px;
                }
            }

        }
    }*/
}

/* line 5, ../sass/blocks/_content_area.scss */
.content_area {
  margin: 0 0 40px 25px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 10, ../sass/blocks/_content_area.scss */
.content_area .main_content {
  margin: 25px 0 25px;
  margin-left: -25px;
  background: #eeeeee;
  min-height: 300px;
  padding: 40px;
  position: relative;
}
/* line 21, ../sass/blocks/_content_area.scss */
.content_area .main_content .diag-bottom,
.content_area .main_content .diag-top {
  background: #eeeeee;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 26, ../sass/blocks/_content_area.scss */
.content_area .main_content .diag-bottom .diag_helper,
.content_area .main_content .diag-top .diag_helper {
  position: absolute;
  height: 25px;
  width: 25px;
}
/* line 33, ../sass/blocks/_content_area.scss */
.content_area .main_content .diag-top {
  height: 25px;
  top: -25px;
  margin-right: 25px;
}
/* line 38, ../sass/blocks/_content_area.scss */
.content_area .main_content .diag-top .diag_helper {
  right: -25px;
  border-left: 25px solid #eeeeee;
  border-top: 25px solid transparent;
}
/* line 44, ../sass/blocks/_content_area.scss */
.content_area .main_content .diag-bottom {
  height: 25px;
  bottom: -25px;
  margin-left: 25px;
}
/* line 49, ../sass/blocks/_content_area.scss */
.content_area .main_content .diag-bottom .diag_helper {
  left: -25px;
  border-right: 25px solid #eeeeee;
  border-bottom: 25px solid transparent;
}
@media (max-width: 767px) {
  /* line 5, ../sass/blocks/_content_area.scss */
  .content_area {
    background: transparent;
    margin-left: 0;
  }
  /* line 61, ../sass/blocks/_content_area.scss */
  .content_area .main_content {
    margin-left: 0;
  }
}
/* line 66, ../sass/blocks/_content_area.scss */
.content_area .sidebar {
  min-height: 325px;
  padding: 40px;
}
