@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/config/_body.scss */
body {
  background-image: url('/media/Hulkify/images/wild_oliva.png?1378335838');
  background-position: center center;
  background-repeat: repeat;
}

/* line 8, ../sass/config/_body.scss */
.lightbox {
  background: -webkit-radial-gradient(center center, cover, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

/* line 20, ../sass/config/_body.scss */
.estlan-container {
  margin-top: 150px;
  max-width: 980px;
  z-index: 7;
}

/* line 2, ../sass/blocks/_heading.scss */
.estlan-navbar {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}
/* line 7, ../sass/blocks/_heading.scss */
.estlan-navbar .container {
  max-width: 900px;
}
@media (min-width: 768px) {
  /* line 7, ../sass/blocks/_heading.scss */
  .estlan-navbar .container {
    padding-right: 40px;
  }
}
/* line 15, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-brand.logo {
  background: url('/media/Hulkify/images/logo.png?1378324908');
  width: 146px;
  height: 89px;
  line-height: 89px;
  margin: 5px 15px 0 90px;
}
@media (max-width: 767px) {
  /* line 15, ../sass/blocks/_heading.scss */
  .estlan-navbar .navbar-brand.logo {
    margin-left: 10px;
  }
}
/* line 26, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 33, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li > a:hover, .estlan-navbar .navbar-nav > li > a.active {
  opacity: 1;
}
/* line 37, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li > a:after {
  content: "";
  position: absolute;
  background: #545454;
  width: 1px;
  right: 0px;
  top: 40px;
  bottom: 40px;
  z-index: 30;
}
/* line 49, ../sass/blocks/_heading.scss */
.estlan-navbar .nav.navbar-nav.pull-right {
  float: left !important;
}
/* line 54, ../sass/blocks/_heading.scss */
.estlan-navbar .navbar-nav > li:last-child > a:after {
  display: none;
}
@media (max-width: 767px) {
  /* line 60, ../sass/blocks/_heading.scss */
  .estlan-navbar .navbar-collapse {
    background-color: #eee;
  }
}

/* line 4, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero {
  background: #d5d5d5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  min-height: 355px;
  position: relative;
  margin: 0 25px;
}
/* line 12, ../sass/config/_variables.scss */
.jumbotron.hero:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0px;
  bottom: 0px;
  z-index: 99;
  width: 20px;
  border-right: 20px solid #d5d5d5;
  border-bottom: 20px solid transparent;
}
/* line 24, ../sass/config/_variables.scss */
.jumbotron.hero:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0px;
  bottom: 0px;
  z-index: 99;
  width: 20px;
  border-left: 20px solid #d5d5d5;
  border-top: 20px solid transparent;
}
/* line 13, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .hero-control {
  position: absolute;
  bottom: 20px;
  right: 0px;
}
/* line 18, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .hero-control .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px none transparent;
  background: #1d3a12;
  font-weight: bold;
  position: relative;
  height: 48px;
  min-width: 71px;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 28, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .hero-control .btn:hover {
  opacity: 1;
}
/* line 33, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .hero-control .btn.slide_l_or_r {
  line-height: 30px;
}
/* line 35, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .hero-control .btn.slide_l_or_r .icon-prev:before {
  content: '\2039';
  font-size: 30px;
}
/* line 39, ../sass/blocks/_hero_unit.scss */
.jumbotron.hero .hero-control .btn.slide_l_or_r .icon-next:before {
  content: '\203a';
  font-size: 30px;
}
@media (min-width: 400px) {
  /* line 46, ../sass/blocks/_hero_unit.scss */
  .jumbotron.hero .hero-control .btn:first-child {
    text-indent: -20px;
  }
  /* line 39, ../sass/config/_variables.scss */
  .jumbotron.hero .hero-control .btn:first-child:before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    width: 20px;
    border-right: 20px solid #1d3a12;
    border-top: 20px solid transparent;
  }
  /* line 50, ../sass/blocks/_hero_unit.scss */
  .jumbotron.hero .hero-control .btn:last-child {
    text-indent: 20px;
    margin-right: 20px;
  }
  /* line 39, ../sass/config/_variables.scss */
  .jumbotron.hero .hero-control .btn:last-child:before {
    content: "";
    position: absolute;
    right: -20px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    width: 20px;
    border-left: 20px solid #1d3a12;
    border-bottom: 20px solid transparent;
  }
}
